<% page_meta "About", "What is CosSinCalc and how can I use it?" %>

<h1>What is this thing?</h1>
<p>The CosSinCalc Triangle Calculator is a web application able to calculate the sides, angles and other variables of a triangle, based on just three known sides/angles.</p>

<h2>Nice, how does it work?</h2>
<p>Three variables need to be specified in order to calculate the rest, at least one of them being a side. The text fields labelled with capital letters represent the angles, and the ones labelled with lowercase letters, sides. Not all of the text fields should be filled in, however &ndash; only three of your choice (dependent on which variables you already know).</p>
<p>You can specify the angles in your preferred unit, which can be chosen under &quot;Advanced settings&quot;. It defaults to degrees. The unit of the sides doesn't have any effect on the calculation and should therefore be omitted.</p>
<p>When you've fulfilled the input requirements click the &quot;Calculate&quot; button, and you'll be sent along to the &quot;Result&quot; navigation tab (you can return to the previous page and adjust your input at any time by clicking the &quot;Calculator&quot; tab). This page is divided into three sections:</p>
<ul>
  <li>an overview table of the variables calculated</li>
  <li>a drawing of the calculated triangle</li>
  <li>the formulae used in the calculation</li>
</ul>

<h2>What a strange name &ndash; how am I supposed to remember that?</h2>
<p>The name might be easier to remember if you know the origin of it ... It's actually kind of an abbreviation:</p>
<ul>
  <li>&quot;Cos&quot; stands for the mathematical function cosine.</li>
  <li>&quot;Sin&quot; refers to another function called sine.</li>
  <li>&quot;Calc&quot; is simply short for calculator.</li>
</ul>
<p>But why those mathematical terms? CosSinCalc uses some equations in which exactly those functions appear and play a key role. If you are more curious about this, check out the equations shown at the bottom of the result page, or read more at Wikipedia: <a href="http://en.wikipedia.org/wiki/Law_of_sines">Law of sines</a> and <a href="http://en.wikipedia.org/wiki/Law_of_cosines">Law of cosines</a>.</p>

<h2>Open source</h2>
<p>
  CosSinCalc is open source! Everyone can contribute to the project &ndash; including you.
  The most recent version of the source code is always available at <a href="http://github.com/molte/CosSinCalc">http://github.com/molte/CosSinCalc</a>. Go ahead and take a look!
</p>
<p>
Notable contributions have been made by:
</p>
<ul>
<li><a href="https://github.com/antonjuulnaber">Anton Juul-Naber</a></li>
</ul>

<h2>Get in touch</h2>
<p>
  The main contributor and original author, Molte Emil Strange Andersen, can be contacted at <a href="mailto:molte@cossincalc.com">molte@cossincalc.com</a>.
</p>
