<h1>What is this thing?</h1>
<p>The CosSinCalc Triangle Calculator is a web application able to calculate the sides, angles and other variables of a triangle, based on just three known sides/angles.</p>

<h2>Nice, how does it work?</h2>
<p>Three variables need to be specified in order to calculate the rest, at least one of them being a side. The text fields labeled with capital letters represent the angles, and the ones labeled with lowercase letters, sides. Not all of the text fields should be filled in, however &ndash; only three of your choice (dependent of which variables you already know).</p>
<p>You can specify the angles in your preferred unit, which can be chosen under "Advanced settings". It defaults to degrees. The unit of the sides doesn't have any effect on the calculation and should therefore be omitted.</p>
<p>When you've fulfilled the input requirements click the "Calculate" button, and you'll be sent along to the "Result" navigation tab (you can return to the previous page and adjust your input at any time by clicking the "Calculator" tab). This page is separated into three sections:</p>
<ul>
  <li>an overview table of the variables calculated</li>
  <li>a drawing of the calculated triangle</li>
  <li>the formulae used in the calculation</li>
</ul>

<h2>What a strange name &ndash; how am I supposed to remember that?</h2>
<p>The name might be easier to remember if you know the origin of it... It's actually kind of an abbreviation:</p>
<ul>
  <li>"Cos" stands for the mathematical function cosine.</li>
  <li>"Sin" is its supplement sine.</li>
  <li>"Calc" simply stands for calculator.</li>
</ul>
<p>But why those mathematical terms? CosSinCalc uses some equations in which exactly those functions appear and play a key role. If you are more curious about this, check out the equations shown at the bottom of the result page, or read more at Wikipedia: <a href="http://en.wikipedia.org/wiki/Law_of_sines">Law of sines</a> and <a href="http://en.wikipedia.org/wiki/Law_of_cosines">Law of cosines</a>.</p>

<h2>Open source</h2>
<p>
  CosSinCalc is open source! Everyone can contribute to the project &ndash; including you.
  The most recent version of the source code is always available at <a href="http://github.com/molte/CosSinCalc">http://github.com/molte/CosSinCalc</a>. Go ahead and take a look!
</p>

<h2>Get in touch</h2>
<p>
  The main contributor and original author, Molte Emil Strange Andersen, can be contacted at <a href="mailto:molte@cossincalc.com">molte@cossincalc.com</a>.
</p>
