<h2>Open source</h2>
<p>
  CosSinCalc is open source! Everyone can contribute to the project &ndash; including you.
  The most recent version of the source code is always available at <a href="http://github.com/molte/CosSinCalc">http://github.com/molte/CosSinCalc</a>. Go ahead and take a look!
</p>
<h2>Get in touch</h2>
<p>
  The main contributer and original author, Molte Emil Strange Andersen, can be contacted at <a href="mailto:molte@cossincalc.com">molte@cossincalc.com</a>.
</p>
