<% include_stylesheet 'calculator' %>
<% include_stylesheet 'print', :media => 'print' %>
<% include_javascript 'raphael.min', 'cossincalc.min', 'jquery.deserialize', 'jquery.ba-bbq.min', 'calculator' %>
<%# spotlight 'New here? <a href="/about">Watch the tour!</a>' %>

<noscript>It appears that JavaScript is not enabled in your browser. It has to be turned on to use the calculator.</noscript>
      
<%= erb_partial :form %>
<%= erb_partial :result %>
