<% include_stylesheet 'calculator' %>
<% include_stylesheet 'print', :media => 'print' %>
<% include_javascript 'raphael.min', 'cossincalc.min', 'jquery.deserialize', 'jquery.ba-bbq.min', 'calculator' %>
<%# spotlight 'New here? <a href="/about">Watch the tour!</a>' %>

<%= erb_partial :form %>
<%= erb_partial :result %>
