<% include_stylesheet 'calculator' %>
<% include_stylesheet 'print', :media => 'print' %>
<% include_javascript 'raphael.min', 'cossincalc.min', 'jquery.deserialize', 'jquery.ba-bbq.min', 'calculator' %>
<% spotlight 'Need help? Take a look at our <a href="http://getsatisfaction.com/cossincalc">support site</a>.' %>

<%= erb_partial :form %>
<%= erb_partial :result %>
