<% page_meta "Download", "Download the CosSinCalc calculator here for offline use." %>

<p>Download the calculator and use it when not connected to the internet.</p>

<h2>Microsoft Windows</h2>
<ol>
  <li><a href="/downloads/cossincalc-setup-1.0.10.exe" onclick="_gaq.push(['_trackPageview', this.href]);">Download</a> the Windows program (~ 60 MiB).</li>
  <li>Run "cossincalc-setup.exe" to install the program.</li>
  <li>Once installed, follow the start menu shortcut named &quot;CosSinCalc&quot; in the folder with the same name.</li>
</ol>
<p>
  The Windows program relies on the Ruby interpreter, RSVG, PDFLaTeX and the Microsoft .NET Framework 4 Client Profile.
  All of these dependencies will automatically be installed during the installation process.
  The program has been tested on Windows XP, Windows Vista and Windows 7.
</p>

<h2>Other operating systems</h2>
<ol>
  <li><a href="http://github.com/downloads/molte/CosSinCalc/cossincalc.zip">Download</a> the program.</li>
  <li>Unzip it.</li>
  <li>Open &quot;calculator.html&quot; with your browser.</li>
  <li>If prompted, allow the program to run scripts locally.</li>
</ol>
