<p>Download the calculator and use it when not connected to the internet.</p>

<ol>
  <li><a href="http://github.com/downloads/molte/CosSinCalc/cossincalc.zip">Download</a> the program.</li>
  <li>Unzip it.</li>
  <li>Open "calculator.html" with your browser.</li>
  <li>If prompted, allow the program to run scripts locally.</li>
</ol>
