#calculator .buttons {
  clear: both;
}
#calculator table.variables {
  float: left;
}
#calculator .drawing img {
  margin: 10px;
  width: 308px;
  height: 170px;
  background-image: url(/images/triangle.png);
}
#calculator #errors {
  color: #f00;
  margin: 25px 0;
}

#result {
  display: none;
}
#result td.variable {
  text-align: right;
  padding-right: 20px;
}

#origination_notice {
  display: none;
}
